<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="gems content">
        <h2>All Gems</h2>
        <% if(gems.length > 0) { %>
            <% gems.forEach((gem) => { %>
                <a class="single" href="/gems/<%= gem._id %>">
                    <h3 class="title"><%= gem.title %></h3>
                    <p class="link"><%= gem.link %></p>
                    <p class="desc"><%= gem.desc %></p>
                </a>
            <% }) %>
            <% } else { %>
                <p>There are no blogs to display...</p>
            <% } %>
    </div>
    <div>
        <a href="/add-gem">LINK TO ADD GEM</a>
        <a href="/about-me">LINK TO ABOUT PAGE</a>
    </div>
    <!-- <%- include('./partials/footer.ejs') %> -->
</body>
</html>